<button class="btn btn-link card-lista" (click)="doGoClientDetails(cliente)">
  <div *ngIf="!isNew" class="avatar-item avatar">
    <h2 class="sigla-item">{{ getSigla() }}</h2>
  </div>
  <div class="avatar-item" *ngIf="isNew">
    <img src="assets/imgs/new.svg" width="50" alt="">
  </div>
  <div class="detail">
    <h2 class="title-item">
      {{ cliente.name }}
    </h2>
    <p class="detail-sm">
      Email: {{ cliente.email }} - Phone: {{ cliente.phone }}
    </p>
  </div>
  <div class="action">
    <button class="btn btn-link" (click)="doGoClientDetails(cliente)">
      <img src="assets/imgs/eye.svg" width="30" alt="">
    </button>
  </div>
</button>