<div class="container">
  <div class="row">
    <div class="content-top">
      <h2 class="title-page">
        Cadastrar Cliente
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <form #form="ngForm" (ngSubmit)="doSubmit(form)">
        <div class="content-page" [ngClass]="{'active' : blockActive === 1}">
          <div class="contente-title">
            <h2 class="title-item">
              Dados Pessoais
            </h2>
          </div>
          <div class="form-group">
            <label for="name">Nome: </label>
            <input type="text" id="name" name="name" (focus)="activateBlock(1)" [(ngModel)]="cliente.name" class="form-control input-sm"
              placeholder="Nome da empresa">
          </div>
          <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" (focus)="activateBlock(1)" [(ngModel)]="cliente.email" class="form-control input-sm"
              placeholder="meu-email@exemplo.com">
          </div>
          <div class="form-group">
            <label for="cnpj">CPNJ: </label>
            <input type="tel" id="cnpj" name="cnpj" mask="99.999.999/9999-99" (focus)="activateBlock(1)" [(ngModel)]="cliente.cnpj" class="form-control input-sm"
              placeholder="00.000.000/0000-00">
          </div>
        </div>

        <div class="content-page" [ngClass]="{'active' : blockActive === 2}">
          <div class="contente-title">
            <h2 class="title-item">
              Endereço & Contato
            </h2>
          </div>
          <div class="form-group">
            <label for="cep">CEP: </label>
            <input type="tel" id="cep" name="cep" mask="99999-999" (focus)="activateBlock(2)" [(ngModel)]="cliente.cepAdress" class="form-control input-sm"
              placeholder="00000-000">
          </div>
          <div class="form-group">
            <label for="complementAdress">Complemento: </label>
            <input type="text" id="complementAdress" name="complementAdress" (focus)="activateBlock(2)" [(ngModel)]="cliente.complementAdress"
              class="form-control input-sm" placeholder="Predio, Sala, Andar...">
          </div>
          <div class="form-group">
            <label for="phone">Telefone: </label>
            <input type="tel" id="phone" name="phone" mask="(99) 99999-9999" class="form-control input-sm" (focus)="activateBlock(2)" [(ngModel)]="cliente.phone"
              placeholder="(00) 00000-0000">
          </div>
        </div>
        <div class="content-page" [ngClass]="{'active' : blockActive === 3}">
          <div class="contente-title">
            <h2 class="title-item">
              Credenciais de Acesso
            </h2>
          </div>
          <div class="form-group">
            <label for="password">Senha: </label>
            <input type="password" id="password" name="password" (focus)="activateBlock(3)" [(ngModel)]="cliente.password"
              class="form-control input-sm" placeholder="********">
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirmar Senha: </label>
            <input type="password" id="confirm-password" name="confirm-password" (focus)="activateBlock(3)" class="form-control input-sm"
              placeholder="********">
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-success" type="submit">
            Pronto!
          </button>
        </div>
      </form>
    </div>
    <div class="col">
      <img src="./assets/imgs/bg-design-transparent.png" alt="">
    </div>
  </div>
</div>