<div class="container">
  <div class="content">
    <h1 class="title-page">Cadastre sua nova senha</h1>
    <p class="detail-sm" *ngIf="erro">{{erro}}</p>
    <hr>
    <form #form="ngForm" (ngSubmit)="doReset(form)">
      <div class="form-group col-md-8 offset-2">
        <label for="password">Senha:</label>
        <input type="password" name="password" id="password" ngModel class="form-control inpu-sm">
      </div>
      <div class="form-group col-md-8 offset-2">
        <label for="password-confirm">Confirme sua senha:</label>
        <input type="password" name="password-confirm" id="password-confirm" ngModel class="form-control inpu-sm">
      </div>
      <div class="form-group col-md-8 offset-2">
        <button type="submit" class="btn btn-button btn-block cw-btn-green">Pronto!</button>
      </div>
    </form>
  </div>
</div>