<div class="menu-lateral">
  <article class="menu-avatar">
    <div class="avatar">
      <img src="assets/imgs/avatar.png" width="60">
    </div>
  </article>

  <article class="item-menu">
    <a routerLink="/home" routerLinkActive="active-link" class="btn btn-link link">
      <img src="assets/imgs/gadget.svg" width="40" alt="">
    </a>
  </article>
  <article class="item-menu">
      <a routerLink="/clients" routerLinkActive="active-link" class="btn btn-link link">
        <img src="assets/imgs/businessman.svg" width="40" alt="">
      </a>
    </article>
  <article class="item-menu">
    <a routerLink="/projects" routerLinkActive="active-link" class="btn btn-link link">
      <img src="assets/imgs/gadget.svg" width="40" alt="">
    </a>
  </article>
  <article class="item-menu">
    <a routerLink="/tasks" routerLinkActive="active-link" class="btn btn-link link">
      <img src="assets/imgs/process.svg" width="40" alt="">
    </a>
  </article>
  <article class="item-menu">
    <a routerLink="/users" routerLinkActive="active-link" class="btn btn-link link">
      <img src="assets/imgs/worker.svg" width="40" alt="">
    </a>
  </article>
  <article class="item-menu exit">
    <button class="btn btn-link link">
      <img src="assets/imgs/exit.svg" width="40" alt="">
    </button>
  </article>
</div>