<div class="menu-lateral">
  <article class="menu-avatar">
    <div class="avatar">
      <img src="assets/imgs/avatar.png" width="60" >
    </div>
  </article>

  <article class="item-menu">
    <button class="btn btn-link">
      <img src="assets/imgs/start-up.svg" width="40" alt="">
    </button>
  </article>
  <article class="item-menu">
    <button class="btn btn-link">
      <img src="assets/imgs/startup.svg" width="40" alt="">
    </button>
  </article>
  <article class="item-menu">
    <button class="btn btn-link">
      <img src="assets/imgs/startup.svg" width="40" alt="">
    </button>
  </article>
  <article class="item-menu">
    <button class="btn btn-link">
      <img src="assets/imgs/startup.svg" width="40" alt="">
    </button>
  </article>
</div>